.root {
  --regular-height: 36px;

  --disabled-bg: lightgray;
  --disabled-text: gray;
}

.primary-color {
  --hover-bg: #f8b9ce;
  --active-bg: #f3a0c0;
  --active-text: #fff;
  --selected-bg: #f3a0c0;
  --selected-hover-bg: #e57b8d;
}

.lists {
  > div {
    align-items: center;
    border-bottom: 1px solid #ccc;
    display: flex;
    height: var(--regular-height);

    &:first-child {
      border-top: 1px solid #ccc;
      height: calc(var(--regular-height) + 1px);
    }

    > div {
      pointer-events: none;
      width: 100%;
    }

    &.enabled {
      &:hover {
        background-color: var(--hover-bg);
      }

      &:active {
        background-color: var(--active-bg);
        color: var(--active-text);
      }

      &.selected {
        background-color: var(--selected-bg);

        &:hover {
          background-color: var(--selected-hover-bg);
        }
      }
    }

    &:not(.enabled) {
      background-color: var(--disabled-bg);
      color: var(--disabled-text);
    }
  }
}
